# OS-specific files
*.txt
Bin/
# Python specific
.Python
__pycache__
.NLL
.d
# Editor specific
.swo
.swp
# Compiled Python
*.pyc
# Virtual Environment (Python only)
venv/
env/
ENV/
# wheeler files
wheeler*
*- installed.cfg
# Wheel directories
*\.whl
# Package installation directories
*-site-packages
# OS X specific
.DS_Store

# Python development tools
blackrc
brotli
prot topping
pythonshebangfixer
sly
tofty
python-so.py
